:root {
	padding: 5px;
	background-color: #CFD1D2;
	flex-direction: row;
}

.left-column {
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 5px;
}

.right-column {
	flex-grow: 2;
	flex-shrink: 3;
	padding: 5px;
}

.title {
	font-size: 14px;
	-unity-font-style: bold;
}

.content {

}

.body {
	white-space: normal;
}

#logo {
	--unity-image: url("/Assets/HTC Packages Bootstrapper/Editor/Resources/HTC.jpg");
}

#confirm {
	width: 80px;
	align-self: flex-end;
	margin-top: 10px;
}